body{
    font-family: Arial;
    line-height: 1.1;
    background-color: rgb(234, 200, 202);
    text-align: center;
}

header{
    background-color: rgb(242, 213, 248);
    padding: 1em;
    text-align: left;
}

p {
    font-size: larger;
}

.header h1{display:inline}

.header a{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);
    transition: background-color is linear;
}

.center{
    vertical-align: middle;
}

.history{
    background-color: chocolate;
    padding: 0.3em 0.5em;
}

.activities{
    background-color: lightsteelblue;
    padding: 0.8em 2em;
    border: 5px;
    border-radius: 10%;
}

.food{
    background-color: lightgreen;
    padding: 0.3em 0.5em;
}

.facts{
    background-color: darksalmon;
}

.no-style{
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

ul li.info{
    list-style: decimal;
    list-style-position: inside;
}


.split {
    height: 40%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: auto;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
  }
  

  .right {
    right: 0;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
